---
import Layout from '../layouts/Layout.astro'
---

<Layout title="test">
  <main class="h-screen col-fcc">
    <div class="op-30">test page</div>
      <div class="op-30">
        <p>
          1234567890
        </p>
      </div
    </div>
  </main>
</Layout>
